/* AppComponent's private CSS styles */
$primary-color: #1a0dab
$white: #ffffff

.header
  background-color: $primary-color
  color: $white
  ::ng-deep
    .ant-page-header-heading
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
    .ant-page-header-heading-title
      color: $white
    .ant-form-item
     margin-bottom: 0
