.travelDetails
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 93%
  .example-card
    width: 80%
    .stationForm
      display: flex
      flex-direction: column
      .station-input-element
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: baseline
        mat-form-field
          width: 75%
    .time-information
      display: flex
      flex-direction: row
      align-items: baseline
      justify-content: space-between
      .date-picker
        width: 32.5%
      .time-picker
        width: 25%
        .mat-form-field
          display: inherit
          text-align: center

.stationSearchContainer
  display: flex
  flex-direction: column
  height: 100%
  width: 100%
