.travelDetails
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 93%
  .example-card
    width: 80%
    .stationForm
      display: flex
      flex-direction: column
      .station-input-element
        display: flex
        flex-direction: row
        justify-content: space-between
        mat-form-field
          width: 75%

.stationSearchContainer
  display: flex
  flex-direction: column
  height: 93%
  width: 100%
