<div class="container">
  <div class="stationSearch">
    <span>
      <i class="fas fa-search"></i>
      <mat-form-field class="search-text">
        <input type="string" matInput placeholder="{{ 'select.searchBar.hintText.startStation' | translate }}">
      </mat-form-field>
    </span>
  </div>

  <div class="countiesFilter">
    <div class="bubble">
      <mat-icon>mode_world</mat-icon>
    </div>
    <div class="">
      <div class="bubble">

      </div>
    </div>
  </div>

  <div class="">
    <p></p>
  </div>

</div>
