<div class="container">
  <div class="stationSearch">
    <span>
      <i class="fas fa-search first"></i>
      <mat-form-field class="search-text">
        <input *ngIf="departureOrArrivalStation" type="string" matInput placeholder="{{ 'select.searchBar.hintText.startStation' | translate }}" [ngModel]="selectedStation | translateStation" autofocus>
        <input *ngIf="!departureOrArrivalStation" type="string" matInput placeholder="{{ 'select.searchBar.hintText.endStation' | translate }}" [ngModel]="selectedStation | translateStation" autofocus>
      </mat-form-field>
      <button class="button" matTooltip="{{ 'select.routeDetails.time.modal.bottom.rightBtn' | translate }}" matTooltipPosition="left" (click)="emitSelectedStation()">
        <i class="fas fa-arrow-right second"></i>
      </button>
    </span>
  </div>

  <div class="scroll-class">
    <div class="countiesFilter">
      <div class="bubble">
        <i class="fas fa-globe-asia"></i>
      </div>
      <div class="counties bubble" *ngFor="let county of listOfCounties">
        {{ county | translateCounty }}
      </div>
    </div>
  </div>

  <div class="listOfStations">
    <p *ngFor="let station of listOfPossibleStations" (click)="selectThisStation(station)">
      {{ station | translateStation }}
    </p>
  </div>

</div>
